<!doctype html>
<html lang="en">

<head>
  <title>Animales en adopción</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Caslon+Text&display=swap" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">


  <link rel="stylesheet" href="css/admin.css">
  <link rel="stylesheet" href="css/navbar.css">

</head>

<body>
  <!-- NAV BAR -->
  <nav class="navbar navbar-expand-md" id="navBar">
  </nav>

  <div class="container-fluid todo" style="padding: 0; margin-top: 90px;">


    <!-- Barra de busqueda lado izquierdo, perfiles lado derecho -->
    <!-- BARRA DE BUSQUEDA (form: se envia y filtra los perfiles con esa informacion) -->
    <!-- para ninguno se necesita especificar si es perro o gato (si se elige solo se filtra razas) -->
    <div class="container-fluid col-lg-2" id="searchBar">
      <form class="mt-5" id="formDeFiltro" action="">
        <!-- Nombre de la persona -->
        <div class="form-group col-12" id="searchForm">
          <div class="input-group p-0 col-12" id="search">
            <input class="form-control col-12" type="text" name="search" id="searchInput" placeholder="Buscar"
              style="border-radius: 100px;">
          </div>
        </div>
        <!-- Sexo de la persona: hombre o mujer, si no se selecciona se muestran todos-->
        <div class="form-group col-12" id="sexoForm">
          <label for="animalSex">Sexo</label>
          <select class="form-control" id="animalSex" name="Sexo del animal">
            <option value="" disabled selected>Seleccione sexo</option>
            <option value="Hombre">Hombre</option>
            <option value="Mujer">Mujer</option>
          </select>
        </div>
        <!-- Fecha de inscripcion -->
        <div class="form-group col-12" id="fechaNaciminetoForm">
          <label for="date">Fecha de nacimiento </label>
          <div class="input-group" id="date">
            <!-- agregar limites de min y max -->
            <input type="date" class="form-control mr-2" placeholder="Desde" name="instripcion_desde ">
            <span style="margin-right: 5px;">—</span>
            <input type="date" class="form-control ml-2" placeholder="Hasta" name="instripcion_hasta ">
          </div>
        </div>

        <div class="form-group col-12" id="edadForm" style="display: none;">
          <label for="age">Edad</label>
          <div class="input-group" id="age">
            <!-- agregar limites de min y max -->
            <input type="number" class="form-control mr-2" placeholder="edad" name="edad">
            <select class="form-control" id="medida_tiempo" name="medida_tiempo">
              <option value="" disabled selected>años/meses</option>
              <option value="Año">año(s)</option>
              <option value="Mes">Mes(es)</option>
            </select> 
          </div>
        </div>


        <div class="text-center col-12">
          <button type="submit" class="btn btn-primary col-12">Submit</button>
        </div>
      </form>
    </div>



    <div class="container-fluid right col-lg-10 mr-lg-0" style="padding-top: 5px;">
      <div class="row selector">
        <div class="mediaSelector col-12 row justify-content-center" id="lineasBoton">
          <input type="radio" id="usuariosBtn" class="usuariosBtn col-5" name="btn-group" checked>
          <label for="usuariosBtn" class="col-4">Usuarios</label>

          <input type="radio" id="animalesBtn" class="animalesBtn col-5" name="btn-group">
          <label for="animalesBtn" class="col-4">Animales</label>

          <input type="radio" id="publicacionesBtn" class="publicacionesBtn col-5" name="btn-group">
          <label for="publicacionesBtn" class="col-4">Publicaciones</label>

        </div>
      </div>


      <!-- Perfiles de persona: Nombre, telefono, correo -->
      <!-- al dar click en un perfil LINK A MODAL infoUsuario (con botones: adoptar->link modal registroAdopcion y voluntario->link a chat con usuario) -->
      <div class="row usuariosMedia" id="usuariosMedia">
        <div class="col-10  col-md-10">

          <div class="d-flex flex-column flex-md-row" href="#" data-toggle="modal" data-target="#infoUsuario"
            id="usuario">
            <div class="col-8 col-sm-5 col-md-3 col-xl-2" id="imgContainer">
              <div id="imgMarco">
                <img src="https://randomuser.me/api/portraits/men/0.jpg" alt="">
              </div>
            </div>

            <div class="col-12 col-md-6 col-xl-8" id="body">
              <h5 class="mt-3 mb-3" id="nombre"><strong>Persona 1 </strong></h5>
              <p id="informacion">Tel. xx xxxx xxxx <br>
                E-mail. people@example.com</p>
            </div>

            <div class="col-10 col-md-3 col-xl-2" id="button">
              <a name="" id="" class="btn btn-danger mensajeBtn w-100" href="#" role="button">Eliminar</a>
            </div>

          </div>

          <div class="d-flex flex-column flex-md-row" href="#" data-toggle="modal" data-target="#infoUsuario"
            id="usuario">
            <div class="col-8 col-sm-5 col-md-3 col-xl-2" id="imgContainer">
              <div id="imgMarco">
                <img src="https://randomuser.me/api/portraits/men/0.jpg" alt="">
              </div>
            </div>

            <div class="col-12 col-md-6 col-xl-8" id="body">
              <h5 class="mt-3 mb-3" id="nombre"><strong>Persona 1 </strong></h5>
              <p id="informacion">Tel. xx xxxx xxxx <br>
                E-mail. people@example.com</p>
            </div>

            <div class="col-10 col-md-3 col-xl-2" id="button">
              <a name="" id="" class="btn btn-danger mensajeBtn w-100" href="#" role="button">Eliminar</a>
            </div>

          </div>

          <div class="d-flex flex-column flex-md-row" href="#" data-toggle="modal" data-target="#infoUsuario"
            id="usuario">
            <div class="col-8 col-sm-5 col-md-3 col-xl-2" id="imgContainer">
              <div id="imgMarco">
                <img src="https://randomuser.me/api/portraits/men/0.jpg" alt="">
              </div>
            </div>

            <div class="col-12 col-md-6 col-xl-8" id="body">
              <h5 class="mt-3 mb-3" id="nombre"><strong>Persona 1 </strong></h5>
              <p id="informacion">Tel. xx xxxx xxxx <br>
                E-mail. people@example.com</p>
            </div>

            <div class="col-10 col-md-3 col-xl-2" id="button">
              <a name="" id="" class="btn btn-danger mensajeBtn w-100" href="#" role="button">Eliminar</a>
            </div>

          </div>




        </div>
      </div>

      <div class="row animalesMedia" id="animalesMedia" style="display: none;">
        <div class="col-10">

          <div class="d-flex flex-column flex-md-row" id="animal">
            <div class="col-8 col-sm-5 col-md-3 col-xl-2" id="imgContainer">
              <div id="imgMarco">
                <img
                  src="https://www.okchicas.com/wp-content/uploads/2015/11/Adorables-cachorros-que-no-parecen-reales-12.jpg"
                  alt="">
              </div>
            </div>

            <div class="col-12 col-md-6 col-xl-8" id="body">
              <h5 class="mt-3 mb-3" id="nombre"><strong>Mascota 1</strong></h5>
              <p id="informacion">
                Raza: alksmdkas <br>
                Edad: 5 años <br>
                Sexo: Hembra
              </p>
            </div>

            <div class="col-10 col-md-3 col-xl-2" id="button">
              <a class="btn btn-primary detalleBt w-100" href="#" role="button" data-toggle="modal"
                data-target="#infoAnimal">Detalle</a>
            </div>
          </div>


        </div>
      </div>

      <div class="row publicacionesMedia" id="publicacionesMedia" style="display: none;">
        <div class="col-10">
          <div class="post">

            <div class="header col-12">
              <div class="user-image col-1" style="background-image: url(https://randomuser.me/api/portraits/men/1.jpg);"></div>

              <div class="person-name col-6">
                <h5>
                  Persona 1
                </h5><!-- Nombre de la persona -->
              </div>

              <div class="delete-button col-5">
                <button type="button" class="btn btn-danger">Eliminar</button>
              </div>
            </div>
            <div class="body">

              <div class="post-content">
                <p>Texto de la publicación...</p><!-- Texto de la publicación -->
                <img src="https://manchas.com/wp-content/uploads/2023/01/pexels-rhys-abel-15033180-scaled.jpg"
                  alt="Imagen debajo del texto"><!-- Imagen debajo del texto -->
              </div>
            </div>
          </div>

          <div class="post">

            <div class="header col-12">
              <div class="user-image col-1" style="background-image: url(https://randomuser.me/api/portraits/men/1.jpg);" onclick="location.href='/perfil'"></div>

              <div class="person-name col-9">
                <h5>
                  Persona 1
                </h5><!-- Nombre de la persona -->
              </div>

              <div class="delete-button col-2">
                <button type="button" class="btn btn-danger">Eliminar</button>
              </div>
            </div>
            <div class="body">

              <div class="post-content">
                <p>Texto de la publicación...</p><!-- Texto de la publicación -->
                <img src="https://manchas.com/wp-content/uploads/2023/01/pexels-rhys-abel-15033180-scaled.jpg"
                  alt="Imagen debajo del texto"><!-- Imagen debajo del texto -->
              </div>
            </div>
          </div>

          <div class="post">

            <div class="header col-12">
              <div class="user-image col-1" style="background-image: url(https://randomuser.me/api/portraits/men/1.jpg);" onclick="location.href='/perfil'"></div>

              <div class="person-name col-9">
                <h5>
                  Persona 1
                </h5><!-- Nombre de la persona -->
              </div>

              <div class="delete-button col-2">
                <button type="button" class="btn btn-danger">Eliminar</button>
              </div>
            </div>
            <div class="body">

              <div class="post-content">
                <p>Texto de la publicación...</p><!-- Texto de la publicación -->
                <img src="https://manchas.com/wp-content/uploads/2023/01/pexels-rhys-abel-15033180-scaled.jpg"
                  alt="Imagen debajo del texto"><!-- Imagen debajo del texto -->
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>



  </div>





  <!-- MODAL LOGIN -->
  <div class="modal fade" id="logIn" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  </div>


  <!-- MODAL REGISTRO -->
  <div class="modal fade" id="registro" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  </div>


  <!-- MODAL INFOUsuario -->
  <div class="modal fade" id="infoUsuario" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="headerContent text-center">
            <img class="imgUsuarioModal mb-2" src="https://randomuser.me/api/portraits/men/0.jpg" alt="...">
            <h5 class="modal-title">Nombre Apellido</h5>
          </div>
        </div>
        <div class="modal-body p-5">
          <div class="info">
            <p><strong>Fecha de nacimiento: </strong>dd/mm/yyyy</p>
            <p><strong>Fecha de registro: </strong>dd/mm/yyyy</p>
            <p><strong>Teléfono: </strong>xx xxxx xxxx</p>
            <p><strong>E-mail: </strong>alguien@example.com</p>
            <p><strong>Contraseña: </strong>Pa$$word</p>
          </div>


          <div class="mediaSelector row justify-content-center" id="lineasBotonModal">

            <input type="radio" id="animalesBtnModal" class="animalesBtnModal col-6" name="btn-group-modal" checked>
            <label for="animalesBtnModal" class="col-6">Animales</label>

            <input type="radio" id="publicacionesBtnModal" class="publicacionesBtnModal col-6" name="btn-group-modal">
            <label for="publicacionesBtnModal" class="col-6">Publicaciones</label>

          </div>


          <div class="row animalesMediaModal" id="animalesMediaModal">
            <div class="col-7 col-lg-12">

              <div class="d-flex flex-column flex-lg-row" id="animalModal">
                <div class="col-12 col-lg-3" id="imgContainer">
                  <div id="imgMarco">
                    <img src="https://cdn.pixabay.com/photo/2024/01/15/21/16/dog-8510901_640.jpg" alt="">
                  </div>
                </div>

                <div class="col-12 col-lg-6" id="body">
                  <h6 id="nombre"><strong>Mascota 1 </strong></h6>
                  <p id="informacion">
                    Raza: ajdslkasd <br>
                    Edad: 12 años <br>
                    Sexo: Macho
                  </p>
                </div>

                <div class="col-10 col-lg-3" id="button">
                  <a name="" id="" class="btn btn-primary detallesBtn w-100" role="button" href="#" data-toggle="modal"
                    data-target="#infoAnimal">Detalles</a>
                </div>
              </div>

              <div class="d-flex flex-column flex-lg-row" id="animalModal">
                <div class="col-12 col-lg-3" id="imgContainer">
                  <div id="imgMarco">
                    <img src="https://cdn.pixabay.com/photo/2024/01/15/21/16/dog-8510901_640.jpg" alt="">
                  </div>
                </div>

                <div class="col-12 col-lg-6" id="body">
                  <h6 id="nombre"><strong>Mascota 1 </strong></h6>
                  <p id="informacion">
                    Raza: ajdslkasd <br>
                    Edad: 12 años <br>
                    Sexo: Macho
                  </p>
                </div>

                <div class="col-10 col-lg-3" id="button">
                  <a name="" id="" class="btn btn-primary detallesBtn w-100" role="button" href="#" data-toggle="modal"
                    data-target="#infoAnimal">Detalles</a>
                </div>
              </div>

              <div class="d-flex flex-column flex-lg-row" id="animalModal">
                <div class="col-12 col-lg-3" id="imgContainer">
                  <div id="imgMarco">
                    <img src="https://cdn.pixabay.com/photo/2024/01/15/21/16/dog-8510901_640.jpg" alt="">
                  </div>
                </div>

                <div class="col-12 col-lg-6" id="body">
                  <h6 id="nombre"><strong>Mascota 1 </strong></h6>
                  <p id="informacion">
                    Raza: ajdslkasd <br>
                    Edad: 12 años <br>
                    Sexo: Macho
                  </p>
                </div>

                <div class="col-10 col-lg-3" id="button">
                  <a name="" id="" class="btn btn-primary detallesBtn w-100" role="button" href="#" data-toggle="modal"
                    data-target="#infoAnimal">Detalles</a>
                </div>
              </div>


            </div>
          </div>

          <div class="row publicacionesMediaModal" id="publicacionesMediaModal" style="display: none;">
            <div class="col-12">

              <div class="d-flex flex-column flex-lg-row" id="publicacionModal">
                <div class="col-10 col-lg-4" id="imgPublicacionModal">
                  <img id="imgPublicacion" src="https://cdn.pixabay.com/photo/2018/01/09/11/04/dog-3071334_640.jpg"
                    alt="">
                </div>
                <div class="col-12 col-lg-8" id="texto">
                  <h6 id="nombre"><strong>Titulo de publicacion</strong></h6>
                  <p id="datos">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis iusto mollitia sapiente deserunt
                    rem dicta neque cupiditate, quas necessitatibus obcaecati reiciendis quaerat corporis. Tempore
                    assumenda repellendus nobis quam quaerat? Repellendus!
                  </p>
                </div>
              </div>

              <div class="d-flex flex-column flex-lg-row" id="publicacionModal">
                <div class="col-10 col-lg-4" id="imgPublicacionModal">
                  <img id="imgPublicacion"
                    src="https://cdn.pixabay.com/photo/2024/04/21/14/35/ai-generated-8710779_640.jpg" alt="">
                </div>
                <div class="col-12 col-lg-8" id="texto">
                  <h6 id="nombre"><strong>Titulo de publicacion</strong></h6>
                  <p id="datos">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis iusto mollitia sapiente deserunt
                    rem dicta neque cupiditate, quas necessitatibus obcaecati reiciendis quaerat corporis. Tempore
                    assumenda repellendus nobis quam quaerat? Repellendus!
                  </p>
                </div>
              </div>

              <div class="d-flex flex-column flex-lg-row" id="publicacionModal">
                <div class="col-10 col-lg-4" id="imgPublicacionModal">
                  <img id="imgPublicacion"
                    src="https://cdn.pixabay.com/photo/2013/09/22/15/29/prairie-dog-184974_640.jpg" alt="">
                </div>
                <div class="col-12 col-lg-8" id="texto">
                  <h6 id="nombre"><strong>Titulo de publicacion</strong></h6>
                  <p id="datos">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis iusto mollitia sapiente deserunt
                    rem dicta neque cupiditate, quas necessitatibus obcaecati reiciendis quaerat corporis. Tempore
                    assumenda repellendus nobis quam quaerat? Repellendus!
                  </p>
                </div>
              </div>




            </div>
          </div>



        </div>
      </div>
    </div>
  </div>

  <!-- MODAL INFOAnimal -->
  <div class="modal fade" id="infoAnimal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="headerContent text-center">
            <img class="imgAnimalModal mb-2"
              src="https://www.okchicas.com/wp-content/uploads/2015/11/Adorables-cachorros-que-no-parecen-reales-12.jpg"
              alt="...">
            <h5 class="modal-title">Nombre</h5>
          </div>
        </div>
        <div class="modal-body p-5">
          <p><strong>Raza:</strong> asjdlak</p>
          <p><strong>Sexo:</strong> Macho</p>
          <p><strong>Edad:</strong> xx</p>
          <p><strong>Pelaje:</strong> Café, Chino, Corto</p>
          <p><strong>Vacunas:</strong> jdsajk, dajdjas, hdakshdk</p>
          <p><strong>Parásitos:</strong> dasdas, dasd, dasdasd</p>
          <p><strong>Caracter:</strong> fsdfsdfsdfs</p>
          <p><strong>Esterilización:</strong> Sí</p>
          <p><strong>Ubicación:</strong> Guadalajara, Jalisco, México</p>
          <p><strong>Discapacidades:</strong> asjdlak</p>
          <p><strong>Fecha </strong>de desparacitación: dd/mm/aaaa</p>
          <p><strong>Adoptado:</strong> No</p>
        </div>
        <div class="modal-footer">
          <!-- ambos botones mandan un correo al responsable del perro -->
          <!-- Adoptar: enviar form por correo al responsable -->
          <a type="submit" class="btn btn-danger" href="#" data-toggle="modal" data-target="#registroAdoptar"
            data-dismiss="modal">Eliminar</a>
          <!-- Vloluntario: enviar correo o telefono a predeterminado y la comunicacion es aparte -->
          <a href="mailto:responsable@registrado.com?subject=Solicitud%20de%20voluntariado(EDITA EL CORREO)"
            class="btn btn-primary">Contactar dueño</a>
        </div>
      </div>
    </div>
  </div>


  <!-- REGISTRO PARA ADOPTAR -->
  <div class="modal fade" id="registroAdoptar" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title">Registro de adopción</h5>
        </div>
        <div class="modal-body">
          <!-- SE ENVIA AL CORREO DEL RESPONSABLE -->
          <form enctype="text/plain" method="post"
            action="mailto:POO@test.com?cc=otro@test.com&subject=Curso%20Programación%20Orinetada%20a%20Objetos">
            <div class="row">
              <div class="col-6">
                <input type="text" name="Nombre" id="nombreRegistroAdopcion" class="form-control"
                  placeholder="Nombre(s)" required>
              </div>
              <div class="col-6">
                <input type="text" name="Apellido" id="appellidoRegistroAdopcion" class="form-control"
                  placeholder="Apellidos" required>
              </div>
            </div>
            <div class="input-group mt-3">
              <input type="date" name="Fecha de Nacimiento" id="fechaNacimientoAdopcion" class="form-control" value="">
            </div>
            <input type="text" name="INE" id="INE" class="form-control mt-3" placeholder="INE" required>
            <input type="email" name="Correo" id="correoRegistroAdopcion" class="form-control mt-3" placeholder="Correo"
              required>
            <input type="tel" name="Telefono" id="telefono_registroAdopcion" class="form-control mt-3"
              placeholder="Número de teléfono" required>
            <input type="text" name="Direccion" id="direccion_registroAdopcion" class="form-control mt-3"
              placeholder="Direccion" required>
            <hr>
            <div class="row">
              <div class="col-6">
                <input type="text" name="Nombre Referencia" id="nombreReferenciaAdopcion" class="form-control"
                  placeholder="Nombre(s) de Persona de Referencia" required>
              </div>
              <div class="col-6">
                <input type="text" name="Apellido Rederencia" id="appellidoReferenciaAdopcion" class="form-control"
                  placeholder="Apellido(s) de Persona de Referencia" required>
              </div>
            </div>
            <input type="tel" name="Telefono Referencia" id="telefono_referenciaAdopcion" class="form-control mt-3"
              placeholder="Número de teléfono de Persona de Referencia" required>
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary col-lg-10 mt-5 mb-4">Adoptar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>



<!-- Optional JavaScript -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>




<script>
  //para mostrar solo una de las opciones del modal animales/publicaciones
  let animalesBtnModal = document.getElementById('animalesBtnModal');
  let publicacionesBtnModal = document.getElementById('publicacionesBtnModal');
  
  let animalesMediaModal = document.getElementById('animalesMediaModal');
  let publicacionesMediaModal = document.getElementById('publicacionesMediaModal');

  //para mostrar solo publicaciones
  publicacionesBtnModal.addEventListener('click', function () {
    console.log('click en publicaciones');
    publicacionesMediaModal.style.display = '';
    animalesMediaModal.style.display = 'none';
  });

  //para mostrar solo animales
  animalesBtnModal.addEventListener('click', function () {
    console.log('click en animales');
    publicacionesMediaModal.style.display = 'none';
    animalesMediaModal.style.display = '';
  });


  //para mostrar solo una de las opciones publicaciones/usuarios/animales
  // Obtener los botones que lo activan
  let usuariosBtn = document.getElementById('usuariosBtn');
  let publicacionesBtn = document.getElementById('publicacionesBtn');
  let animalesBtn = document.getElementById('animalesBtn');

  // Obtener los contenedores de cada sección
  let usuariosMedia = document.getElementById('usuariosMedia');
  let animalesMedia = document.getElementById('animalesMedia');
  let publicacionesMedia = document.getElementById('publicacionesMedia');
  
  // Obtener las distintas opciones de filtro
  let formDeFiltro = document.getElementById('formDeFiltro');
  let edadForm = document.getElementById('edadForm');
  let fechaNaciminetoForm = document.getElementById('fechaNaciminetoForm');


  //para mostrar solo publicaciones
  publicacionesBtn.addEventListener('click', function () {
    publicacionesMedia.style.display = '';
    animalesMedia.style.display = 'none';
    usuariosMedia.style.display = 'none';
    formDeFiltro.style.display = 'none'; // No tiene filtros
  });
  
  //para mostrar solo usuarios
  usuariosBtn.addEventListener('click', function () {
    publicacionesMedia.style.display = 'none';
    animalesMedia.style.display = 'none';
    usuariosMedia.style.display = '';
    formDeFiltro.style.display = '';
    fechaNaciminetoForm.style.display = '';
    edadForm.style.display = 'none';
  });
  
  //para mostrar solo animales
  animalesBtn.addEventListener('click', function () {
    publicacionesMedia.style.display = 'none';
    animalesMedia.style.display = '';
    usuariosMedia.style.display = 'none';
    formDeFiltro.style.display = '';
    fechaNaciminetoForm.style.display = 'none';
    edadForm.style.display = '';
  });


  //para mostrar solo una de las opciones dentro del modal animales/publicaciones 
</script>

<script src="utils/utils.js"></script>

</html>