<!doctype html>
<html lang="en">

<head>
    <title>Animales en adopción</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Caslon+Text&display=swap" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/navbar.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Caladea&display=swap');
        @import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text&display=swap');

        body {
            font-family: 'Libre Caslon Text', serif;
            background-color: white;
            background-size: cover;
            margin: 0;
            padding: 0;
        }

        /* Pagina adoptar */
        /* barra de busqueda */
        #searchBar {
            background-color: beige;
            position: absolute;
            margin-left: 0;
            margin-right: 0;
        }

        #searchBar form * {
            font-size: 15px;
        }

        #searchBar form ::placeholder {
            font-size: 14px;
        }

        label:not(.form-check-label) {
            font-size: medium;
            font-weight: bold;
        }


        .card {
            background-color: #eeeeee;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 8px;
            margin-right: 8px;
            width: 280px;
            height: fit-content;
        }

        .card-img {
            height: fit-content;
            width: 90%;
            margin-top: 10px;
            border-radius: 5px;
            margin-left: 13px;
            margin-right: 23px;
        }

        .card-body {
            padding-left: 20px !important;
            padding-right: 25px !important;
            width: 25%;
        }

        /* modal info animal */
        .imgInfoAnimal {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border-color: #000000;
        }

        #infoAnimal .modal-content {
            font-weight: 500;
            background-color: beige;
        }

        /* CUANDO NO SE MUESTRA SEARCHBAR */
        @media (max-width: 991px) {
            #animalCards {
                left: 0 !important;
            }
        }

        /* MODALES */
        .modal {
            color: rgb(0, 0, 0);
        }

        .modal-header {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>

<body>
    <!-- NAV BAR-->
    <nav class="navbar navbar-expand-md" id="navBar">
    </nav>

    <!-- SEARCHBAR Y ANIMAL CARDS -->
    <div class="container-fluid col-12" style="padding: 0;margin-top: 90px">
        <!-- Barra de busqueda lado izquierdo, perfiles lado derecho col-sm-4 col-5-->
        <!-- BARRA DE BUSQUEDA (form: se envia y filtra los perfiles con esa informacion) -->
        <!-- para ninguno se necesita especificar si es perro o gato (si se elige solo se filtra razas) -->
        <div class="container-fluid pb-5 col-0 col-lg-3 col-xl-2" id="searchBar">
            <form class="mt-5" id="formDeFiltro" action="">
                <!-- Animal: Perro o Gato -->
                <div class="form-group col-12">
                    <label for="animalType">Animal</label>
                    <div class="input-group col-4" id="animalType">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="dog" name="Tipo de animal"
                                value="Perro">
                            <label class="form-check-label" for="dog">Perro</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="cat" name="Tipo de animal" value="Gato">
                            <label class="form-check-label" for="cat">Gato</label>
                        </div>
                    </div>
                </div>
                <!-- Raza del animal (mostrar dependiendo de si se eligio perro o gato, sino mostrar todas) -->
                <div class="form-group col-12">
                    <label for="animalBreed">Raza</label>
                    <select class="form-control" id="animalBreed" name="Raza del animal">
                        <option value="" disabled selected>Seleccione raza</option>
                        <option value="PerroMestizo" class="Perro">Perro mestizo</option>
                        <option value="Chihuahua" class="Perro">Chihuahua</option>
                        <option value="Schnauzer" class="Perro">Schnauzer</option>
                        <option value="GoldenRetriever" class="Perro">Golden Retriever</option>
                        <option value="Pug" class="Perro">Pug</option>
                        <option value="YorkshireTerriers" class="Perro">Yorkshire Terriers</option>
                        <option value="BorderCollie" class="Perro">Border Collie</option>
                        <option value="Labrador" class="Perro">Labrador</option>
                        <option value="Bulldog" class="Perro">Bulldog</option>
                        <option value="Pitbull" class="Perro">Pitbull</option>
                        <option value="Pomerania" class="Perro">Pomerania</option>
                        <option value="PastorAleman" class="Perro">Pastor Alemán</option>
                        <option value="Husky" class="Perro">Husky</option>
                        <option value="PastorBelga" class="Perro">Pastor Belga</option>
                        <option value="Doberman" class="Perro">Dóberman</option>
                        <option value="Beagle" class="Perro">Beagle</option>
                        <option value="PastorAustraliano" class="Perro">Pastor Australiano</option>
                        <option value="DogoArgentino" class="Perro">Dogo Argentino</option>
                        <option value="GranDanes" class="Perro">Gran Danés</option>
                        <option value="Rottweiler" class="Perro">Rottweiler</option>
                        <!-- Gatos -->
                        <option value="Mestizo" class="Gato">Gato Mestizo</option>
                        <option value="Americano" class="Gato">Gato Americano </option>
                        <option value="Europeo" class="Gato">Gato Europeo</option>
                        <option value="Bombay" class="Gato">Gato Bombay</option>
                        <option value="AzulRuso" class="Gato">Gato Azul ruso</option>
                        <option value="Persa" class="Gato">Gato Persa</option>
                        <option value="Siames" class="Gato">Gato Siamés</option>
                        <option value="AngoraTurco" class="Gato">Gato Angora turco</option>
                        <option value="Siberiano" class="Gato">Gato Siberiano</option>
                        <option value="MauEgipcio" class="Gato">Gato mau egipcio</option>
                        <option value="Snowshoe" class="Gato">Gato snowshoe</option>
                        <!-- agregar más -->
                        <option value="OtraRaza">Otra</option>
                    </select>
                </div>
                <!-- Sexo del animal: macho o hembra, si no se selecciona se muestran todos-->
                <div class="form-group col-12">
                    <label for="animalSex">Sexo</label>
                    <select class="form-control" id="animalSex" name="Sexo del animal">
                        <option value="" disabled selected>Seleccione sexo del animal</option>
                        <option value="Macho">Macho</option>
                        <option value="Hembra">Hembra</option>
                    </select>
                </div>
                <!-- Edad: filtrar por intervalo de años (se filtra por años o por meses?) -->
                <div class="form-group col-12" id="animalAge">
                    <label for="animalAge">Edad</label>
                    <!-- AÑOS O MESES -->
                    <div class="input-group col-12 mb-2">
                        <div class="form-check form-check-inline col-6">
                            <input class="form-check-input" type="radio" id="years" name="Years" value="years">
                            <label class="form-check-label" for="years">Años</label>
                        </div>
                        <div class="form-check form-check-inline col-4">
                            <input class="form-check-input" type="radio" id="meses" name="Meses" value="meses">
                            <label class="form-check-label" for="meses">Meses</label>
                        </div>
                    </div>
                    <!-- VALOR DE EDAD -->
                    <div class="input-group">
                        <!-- agregar limites de min y max -->
                        <input type="number" class="form-control mr-2" min="0" placeholder="Desde" name="Edad desde ">
                        <span style="margin-right: 5px;">—</span>
                        <input type="number" class="form-control ml-2" min="0" placeholder="Hasta" name="Edad hasta ">
                    </div>
                </div>
                <!-- Pelaje: TIPO, COLOR, LARGO-->
                <div class="form-group col-12">
                    <label for="animalPelaje">Pelaje</label>
                    <div class="selectGroup" id="animalPelaje">
                        <select class="form-control mt-1" id="tipoPelaje" name="tipo_pelaje">
                            <option value="" disabled selected>Seleccione tipo de pelaje</option>
                            <option value="Lacio">Lacio</option>
                            <option value="Rizado">Rizado</option>
                            <option value="Otro">Otro</option>
                            <!-- agregar más opciones según sea necesario -->
                        </select>
                        <select class="form-control mt-1" id="colorPelaje" name="color_pelaje">
                            <option value="" disabled selected>Seleccione color de pelaje</option>
                            <option value="Negro">Negro</option>
                            <option value="Cafe oscuro">Café oscuro</option>
                            <option value="Cafe claro">Café claro</option>
                            <option value="Blanco">Blanco</option>
                            <option value="Otro">Otro</option>
                            <!-- agregar más opciones según sea necesario -->
                        </select>
                        <select class="form-control mt-1" id="largoPelaje" name="largo_pelaje">
                            <option value="" disabled selected>Seleccione largo de pelaje</option>
                            <option value="Largo">Largo</option>
                            <option value="Mediano">Mediano</option>
                            <option value="Corto">Corto</option>
                            <option value="Otro">Otro</option>
                        </select>
                    </div>
                </div>
                <!-- Vacunas : si/no -->
                <div class="form-group col-12">
                    <label for="animalVacuna">Vacunas</label>
                    <div class="input-group col-12" id="animalVacuna">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Vacunas" id="siV" value="Si">
                            <label class="form-check-label" for="siV">Sí</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Vacunas" id="noV" value="No">
                            <label class="form-check-label" for="noV">No</label>
                        </div>
                    </div>
                </div>
                <!-- Enfermedade: si/no -->
                <div class="form-group col-12">
                    <label for="animalIllness">Enfermedades/<br>Parasitos/<br>Discapacidades</label>
                    <div class="input-group col-12" id="animalIllness">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Enfermedades/Parasitos/Discapacidades"
                                id="siI" value="Si">
                            <label class="form-check-label" for="siI">Sí</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Enfermedades/Parasitos/Discapacidades"
                                id="noI" value="No">
                            <label class="form-check-label" for="noI">No</label>
                        </div>
                    </div>
                </div>
                <!-- Estilirizados: si/no -->
                <div class="form-group col-12">
                    <label for="animalEsteril">Estirilización</label>
                    <div class="input-group col-12" id="animalEsteril">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Estirilizacion/Castracion" id="siE"
                                value="Si">
                            <label class="form-check-label" for="siE">Sí</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Estirilizacion/Castracion" id="noE"
                                value="No">
                            <label class="form-check-label" for="noE">No</label>
                        </div>
                    </div>
                </div>
                <!-- Ubicacion: Mexico(default)/Jalisco (default)/cuidad LIMITAR -->
                <div class="form-group col-12">
                    <label for="ubicacion">Ubicación</label>
                    <div class="selectGroup" id="ubicacion">
                        <input type="text" class="form-control mt-1" id="pais" name="Pais" value="Mexico"
                            placeholder="País: México" disabled>
                        <input type="text" class="form-control mt-1" id="estado" name="Estado" value="Jalisco"
                            placeholder="Estado: Jalisco" disabled>
                        <!-- <select class="form-control mt-1" id="estado" name="Estado">
                            <option value="" disabled selected>Estado</option>
                            <option value="Jalisco">Jalisco</option>
                            <option value="Colima">Colima</option>
                        </select> -->
                        <select class="form-control mt-1" id="ciudad" name="Ciudad">
                            <option value="" disabled selected>Ciudad</option>
                            <option value="Guadalajara">Guadalajara</option>
                            <option value="Zapopan">Zapopan</option>
                            <option value="Tonala">Tonála</option>
                            <option value="Tlaquepaque">Tlaquepaque</option>
                            <option value="Tlajomulco">Tlajomulco</option>

                        </select>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary col-10">Submit</button>
                </div>

            </form>
        </div>

        <!-- Perfiles (cards) de animales: Nombre, raza, edad, sexo, ubicacion col-sm-8 col-6-->
        <!-- al dar click en un perfil LINK A MODAL infoAnimal (con botones: adoptar->link modal registroAdopcion y voluntario->link a chat con usuario) -->
        <div class="container-fluid mb-5 col-12 col-lg-9 col-xl-10" id="animalCards"
            style="margin-right: 0px;">
            <ul class="navigation actions mt-5 ml-4 mr-5 justify-content-center" role="navigation">
                <li class="filtro" style="list-style: none;">
                    <a href="#searchBar" id="openFilter" class="btn btn-light btn-outline-dark w-10 d-lg-none"
                        data-toggle="modal" data-target="#formDeFiltroModal">Filtrar</a>
                </li>
            </ul>



            <div class="row justify-content-center mt-5" id="mascotaList">
                <!--row-cols-4-->
                <!-- <a class="card dropdown-item col-lg-3 col-xl-3 col-md-3 col-sm-4 col-4" href="#" data-toggle="modal"
                    data-target="#infoAnimal">
                    <img src="https://www.okchicas.com/wp-content/uploads/2015/11/Adorables-cachorros-que-no-parecen-reales-12.jpg"
                        class="card-img" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Animal 3</h5>
                        <p class="card-text">Raza: udhffhewrku</p>
                        <p class="card-text">Edad: 5 meses</p>
                        <p class="card-text">Sexo: Macho</p>
                        <p class="card-text">Ubicación: Guadalajara</p>
                    </div>
                </a> -->


            </div>
        </div>
    </div>


    <!-- Modal filtros -->
    <div class="modal fade" id="formDeFiltroModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color: beige;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title">Filtros</h5>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form class="mt-5" id="formDeFiltro" action="">
                            <!-- Animal: Perro o Gato -->
                            <div class="form-group col-12">
                                <label for="animalType">Animal</label>
                                <div class="input-group col-4" id="animalTypeModal">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="dogModal" name="Tipo de animal"
                                            value="Perro">
                                        <label class="form-check-label" for="dogModal">Perro</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="catModal" name="Tipo de animal" value="Gato">
                                        <label class="form-check-label" for="catModal">Gato</label>
                                    </div>
                                </div>
                            </div>
                            <!-- Raza del animal (mostrar dependiendo de si se eligio perro o gato, sino mostrar todas) -->
                            <div class="form-group col-12">
                                <label for="animalBreedModal">Raza</label>
                                <select class="form-control" id="animalBreedModal" name="Raza del animal">
                                    <option value="" disabled selected>Seleccione raza</option>
                                    <option value="PerroMestizo" class="Perro">Perro mestizo</option>
                                    <option value="Chihuahua" class="Perro">Chihuahua</option>
                                    <option value="Schnauzer" class="Perro">Schnauzer</option>
                                    <option value="GoldenRetriever" class="Perro">Golden Retriever</option>
                                    <option value="Pug" class="Perro">Pug</option>
                                    <option value="YorkshireTerriers" class="Perro">Yorkshire Terriers</option>
                                    <option value="BorderCollie" class="Perro">Border Collie</option>
                                    <option value="Labrador" class="Perro">Labrador</option>
                                    <option value="Bulldog" class="Perro">Bulldog</option>
                                    <option value="Pitbull" class="Perro">Pitbull</option>
                                    <option value="Pomerania" class="Perro">Pomerania</option>
                                    <option value="PastorAleman" class="Perro">Pastor Alemán</option>
                                    <option value="Husky" class="Perro">Husky</option>
                                    <option value="PastorBelga" class="Perro">Pastor Belga</option>
                                    <option value="Doberman" class="Perro">Dóberman</option>
                                    <option value="Beagle" class="Perro">Beagle</option>
                                    <option value="PastorAustraliano" class="Perro">Pastor Australiano</option>
                                    <option value="DogoArgentino" class="Perro">Dogo Argentino</option>
                                    <option value="GranDanes" class="Perro">Gran Danés</option>
                                    <option value="Rottweiler" class="Perro">Rottweiler</option>
                                    <!-- Gatos -->
                                    <option value="Mestizo" class="Gato">Gato Mestizo</option>
                                    <option value="Americano" class="Gato">Gato Americano </option>
                                    <option value="Europeo" class="Gato">Gato Europeo</option>
                                    <option value="Bombay" class="Gato">Gato Bombay</option>
                                    <option value="AzulRuso" class="Gato">Gato Azul ruso</option>
                                    <option value="Persa" class="Gato">Gato Persa</option>
                                    <option value="Siames" class="Gato">Gato Siamés</option>
                                    <option value="AngoraTurco" class="Gato">Gato Angora turco</option>
                                    <option value="Siberiano" class="Gato">Gato Siberiano</option>
                                    <option value="MauEgipcio" class="Gato">Gato mau egipcio</option>
                                    <option value="Snowshoe" class="Gato">Gato snowshoe</option>
                                    <!-- agregar más -->
                                    <option value="OtraRaza">Otra</option>
                                </select>
                            </div>
                            <!-- Sexo del animal: macho o hembra, si no se selecciona se muestran todos-->
                            <div class="form-group col-12">
                                <label for="animalSexModal">Sexo</label>
                                <select class="form-control" id="animalSexModal" name="Sexo del animal">
                                    <option value="" disabled selected>Seleccione sexo del animal</option>
                                    <option value="Macho">Macho</option>
                                    <option value="Hembra">Hembra</option>
                                </select>
                            </div>
                            <!-- Edad: filtrar por intervalo de años (se filtra por años o por meses?) -->
                            <div class="form-group col-12" id="animalAgeModal">
                                <label for="animalAgeModal">Edad</label>
                                <!-- AÑOS O MESES -->
                                <div class="input-group col-12 mb-2">
                                    <div class="form-check form-check-inline col-6">
                                        <input class="form-check-input" type="radio" id="yearsModal" name="Years" value="years">
                                        <label class="form-check-label" for="yearsModal">Años</label>
                                    </div>
                                    <div class="form-check form-check-inline col-4">
                                        <input class="form-check-input" type="radio" id="mesesModal" name="Meses" value="meses">
                                        <label class="form-check-label" for="mesesModal">Meses</label>
                                    </div>
                                </div>
                                <!-- VALOR DE EDAD -->
                                <div class="input-group">
                                    <!-- agregar limites de min y max -->
                                    <input type="number" class="form-control mr-2" min="0" placeholder="Desde" name="Edad desde ">
                                    <span style="margin-right: 5px;">—</span>
                                    <input type="number" class="form-control ml-2" min="0" placeholder="Hasta" name="Edad hasta ">
                                </div>
                            </div>
                            <!-- Pelaje: TIPO, COLOR, LARGO-->
                            <div class="form-group col-12">
                                <label for="animalPelajeModal">Pelaje</label>
                                <div class="selectGroup" id="animalPelajeModal">
                                    <select class="form-control mt-1" id="tipoPelajeM" name="tipo_pelaje">
                                        <option value="" disabled selected>Seleccione tipo de pelaje</option>
                                        <option value="Lacio">Lacio</option>
                                        <option value="Rizado">Rizado</option>
                                        <option value="Otro">Otro</option>
                                        <!-- agregar más opciones según sea necesario -->
                                    </select>
                                    <select class="form-control mt-1" id="colorPelajeModal" name="color_pelaje">
                                        <option value="" disabled selected>Seleccione color de pelaje</option>
                                        <option value="Negro">Negro</option>
                                        <option value="Cafe oscuro">Café oscuro</option>
                                        <option value="Cafe claro">Café claro</option>
                                        <option value="Blanco">Blanco</option>
                                        <option value="Otro">Otro</option>
                                        <!-- agregar más opciones según sea necesario -->
                                    </select>
                                    <select class="form-control mt-1" id="largoPelajeModal" name="largo_pelaje">
                                        <option value="" disabled selected>Seleccione largo de pelaje</option>
                                        <option value="Largo">Largo</option>
                                        <option value="Mediano">Mediano</option>
                                        <option value="Corto">Corto</option>
                                        <option value="Otro">Otro</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Vacunas : si/no -->
                            <div class="form-group col-12">
                                <label for="animalVacunaModal">Vacunas</label>
                                <div class="input-group col-12" id="animalVacunaModal">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Vacunas" id="siVModal" value="Si">
                                        <label class="form-check-label" for="siVModa">Sí</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Vacunas" id="noVModal" value="No">
                                        <label class="form-check-label" for="noVModal">No</label>
                                    </div>
                                </div>
                            </div>
                            <!-- Enfermedade: si/no -->
                            <div class="form-group col-12">
                                <label for="animalIllnessModal">Enfermedades/<br>Parasitos/<br>Discapacidades</label>
                                <div class="input-group col-12" id="animalIllnessModal">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Enfermedades/Parasitos/Discapacidades"
                                            id="siIModal" value="Si">
                                        <label class="form-check-label" for="siIModal">Sí</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Enfermedades/Parasitos/Discapacidades"
                                            id="noIModal" value="No">
                                        <label class="form-check-label" for="noIModal">No</label>
                                    </div>
                                </div>
                            </div>
                            <!-- Estilirizados: si/no -->
                            <div class="form-group col-12">
                                <label for="animalEsterilModal">Estirilización</label>
                                <div class="input-group col-12" id="animalEsterilModal">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Estirilizacion/Castracion" id="siEModal"
                                            value="Si">
                                        <label class="form-check-label" for="siEModal">Sí</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Estirilizacion/Castracion" id="noEModal"
                                            value="No">
                                        <label class="form-check-label" for="noEModal">No</label>
                                    </div>
                                </div>
                            </div>
                            <!-- Ubicacion: Mexico(default)/Jalisco (default)/cuidad LIMITAR -->
                            <div class="form-group col-12">
                                <label for="ubicacion">Ubicación</label>
                                <div class="selectGroup" id="ubicacionModal">
                                    <input type="text" class="form-control mt-1" id="paisModal" name="Pais" value="Mexico"
                                        placeholder="País: México" disabled>
                                    <input type="text" class="form-control mt-1" id="estadoModal" name="Estado" value="Jalisco"
                                        placeholder="Estado: Jalisco" disabled>
                                    <!-- <select class="form-control mt-1" id="estado" name="Estado">
                                        <option value="" disabled selected>Estado</option>
                                        <option value="Jalisco">Jalisco</option>
                                        <option value="Colima">Colima</option>
                                    </select> -->
                                    <select class="form-control mt-1" id="ciudadModal" name="Ciudad">
                                        <option value="" disabled selected>Ciudad</option>
                                        <option value="Guadalajara">Guadalajara</option>
                                        <option value="Zapopan">Zapopan</option>
                                        <option value="Tonala">Tonála</option>
                                        <option value="Tlaquepaque">Tlaquepaque</option>
                                        <option value="Tlajomulco">Tlajomulco</option>
            
                                    </select>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary col-10" >Submit</button>
                            </div>
                          
                        </form>
            
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- MODAL LOGIN -->
    <div class="modal fade" id="logIn" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">

    </div>

    <!-- MODAL REGISTRO -->
    <div class="modal fade" id="registro" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">

    </div>

    <!-- MODAL INFOANIMAL -->
    <div class="modal fade" id="infoAnimal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
        aria-hidden="true">
    </div>

    <!-- REGISTRO PARA ADOPTAR -->
    <div class="modal fade" id="registroAdoptar" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title">Registro de adopción</h5>
                </div>
                <div class="modal-body">
                    <!-- SE ENVIA AL CORREO DEL RESPONSABLE -->
                    <form enctype="text/plain" method="post"
                        action="mailto:POO@test.com?cc=otro@test.com&subject=Curso%20Programación%20Orinetada%20a%20Objetos">
                        <div class="row">
                            <div class="col-6">
                                <input type="text" name="Nombre" id="nombreRegistroAdopcion" class="form-control"
                                    placeholder="Nombre(s)" required>
                            </div>
                            <div class="col-6">
                                <input type="text" name="Apellido" id="appellidoRegistroAdopcion" class="form-control"
                                    placeholder="Apellidos" required>
                            </div>
                        </div>
                        <div class="input-group mt-3">
                            <input type="date" name="Fecha de Nacimiento" id="fechaNacimientoAdopcion"
                                class="form-control" value="" required>
                        </div>
                        <input type="text" name="INE" id="INE" class="form-control mt-3"
                            pattern="[A-Z]{6}[0-9]{8}[HM][0-9]{3}" placeholder="INE" required>
                        <input type="email" name="Correo" id="correoRegistroAdopcion" class="form-control mt-3"
                            placeholder="Correo" required>
                        <input type="tel" name="Telefono" id="telefono_registroAdopcion" class="form-control mt-3"
                            placeholder="Número de teléfono" required>
                        <input type="text" name="Direccion" id="direccion_registroAdopcion" class="form-control mt-3"
                            placeholder="Direccion" required>
                        <hr>
                        <div class="row">
                            <div class="col-6">
                                <input type="text" name="Nombre Referencia" id="nombreReferenciaAdopcion"
                                    class="form-control" placeholder="Nombre(s) de Persona de Referencia" required>
                            </div>
                            <div class="col-6">
                                <input type="text" name="Apellido Rederencia" id="appellidoReferenciaAdopcion"
                                    class="form-control" placeholder="Apellido(s) de Persona de Referencia" required>
                            </div>
                        </div>
                        <input type="tel" name="Telefono Referencia" id="telefono_referenciaAdopcion"
                            class="form-control mt-3" placeholder="Número de teléfono de Persona de Referencia"
                            required>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary col-lg-10 mt-5 mb-4">Adoptar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>



<!-- Optional JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    //-------MOSTRAR SOLO RAZAS DE PERROS O GATOS O AMBAS------------------
    let perroCheck = document.getElementById("dog");
    let gatoCheck = document.getElementById("cat");
    let razaAnimalSelect = document.getElementById("animalBreed");
    let opcionesGato = razaAnimalSelect.querySelectorAll(".Gato");
    let opcionesPerro = razaAnimalSelect.querySelectorAll(".Perro");

    function actualizarOpciones() {
        if ((perroCheck.checked && !gatoCheck.checked) || (!perroCheck.checked && gatoCheck.checked)) {
            opcionesGato.forEach(function (opcion) {
                opcion.style.display = gatoCheck.checked ? "block" : "none";
            });
            opcionesPerro.forEach(function (opcion) {
                opcion.style.display = perroCheck.checked ? "block" : "none";
            });
        } else if (perroCheck.checked && gatoCheck.checked) {
            opcionesGato.forEach(function (opcion) {
                opcion.style.display = "block";
            });
            opcionesPerro.forEach(function (opcion) {
                opcion.style.display = "block";
            });
        } else {
            opcionesGato.forEach(function (opcion) {
                opcion.style.display = "none";
            });
            opcionesPerro.forEach(function (opcion) {
                opcion.style.display = "none";
            });
        }
    }
    perroCheck.addEventListener('change', actualizarOpciones);
    gatoCheck.addEventListener('change', actualizarOpciones);
    actualizarOpciones();
    //------------------------------------------------------------------------

    //MOSTRAR FILTROS--------------------------------------------------------------
    document.addEventListener("DOMContentLoaded", function () {
        let searchBar = document.getElementById('searchBar');
        let filterButton = document.getElementById('openFilter');
        let animalCards = document.getElementById('animalCards');
        let formDeFiltroModal = document.getElementById('formDeFiltroModal');
        // Función para mostrar u ocultar la barra de búsqueda y el botón de filtro según el tamaño de la pantalla
        function toggleSearchBar() {
            if (window.innerWidth < 992) { // Tamaño md, sm o xs
                searchBar.style.display = 'none';
                filterButton.style.display = 'block';

            } else { // Tamaño lg o xl
                searchBar.style.display = '';
                filterButton.style.display = 'none';
                let modalCloseButton = formDeFiltroModal.querySelector('[data-dismiss="modal"]');
                if (modalCloseButton) {
                    modalCloseButton.click();
                }
            }
        }
        // Mostrar u ocultar la barra de búsqueda y el botón de filtro al cargar la página
        toggleSearchBar();

        // Mostrar u ocultar la barra de búsqueda y el botón de filtro al cambiar el tamaño de la ventana
        window.addEventListener('resize', toggleSearchBar);
        // Mostrar u ocultar la barra de búsqueda al hacer clic en el botón de filtro
        // filterButton.addEventListener('click', function () {
        //     if (searchBar.style.display === 'none') {
        //         searchBar.style.display = 'block';
        //         // searchBar.style.width = '230px';
        //         // animalCards.style.marginLeft = '230px';
        //         // searchBar.style.marginRight = '230px';
        //     } else {
        //         searchBar.style.display = 'none';
        //         // animalCards.style.marginLeft = '0';
        //         // searchBar.style.width = 'auto';
        //     }
        // });
    });
</script>

<script src="./utils/animal_utils.js"></script>
<!-- <script src="/utils/animal_utils.js"></script> -->
<script src="utils/utils.js"></script>

</html>