<!doctype html>
<html lang="en">

<head>
    <title>Dar en adopción</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Caslon+Text&display=swap" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/navbar.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Caladea&display=swap');
        @import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text&display=swap');

        body {
            font-family: 'Libre Caslon Text', serif;
            background-color: white;
            /* Fondo amarillo claro */
            background-size: cover;
            margin: 0;
            padding: 0;
        }

        /* --------------------PAGINA REGISTRO PARA DAR EN ADOPCION -------------- */
        .registroDarAdopcion {
            top: 130px;
            margin-left: auto;
            margin-right: auto;
            background-color: #f2f2f2;
        }

        .registroDarAdopcion>form>div {
            left: 2%;
            right: 5%;
        }

        .registroDarAdopcion>form label:not(label.tipo) {
            font-size: small;
        }

        /* MODALES */
        .modal {
            color: black;
        }

        .modal-header {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>

<body>
    <!-- NAV BAR -->
    <nav class="navbar navbar-expand-md" id="navBar">
    </nav>

    <!-- Pantalla completa para registrar nuevo animal -->
    <!-- AGREGAR RAZAS Y SI SE SESLECCIONE PERRO SOLO SE MUESTRES LAS DE CLASE PERRO SINO LAS DE GATO -->
    <div class="registroDarAdopcion col-9">
        <form id="formDarAdopcion"
            action="/peluditos/createAnimal"
            method="post" enctype="multipart/form-data">
            <h4 class="text-center pt-5 mb-3">Registra un nuevo peludito</h4>
            <div class="row justify-content-center col-12 pb-4">
                <!-- IMAGEN -->
                <input type="text" id="fileImgAnimal" class="form-control" name="_imagen" placeholder="Ingresar url de foto del peludito"
                    required>
                <!-- NOMBRE -->
                <input type="text" name="_nombre" id="nombreAnimalRegistro" class="form-control mt-3 mb-3"
                    placeholder="Nombre del peludito" required>
                <!-- TIPO -->
                <div class="input-group mb-3 col-12" id="tipoAnimal">
                    <div class="col-6 form-check form-check-inline">
                        <input type="radio" name="_tipo" id="perroRegistro" value="Perro" checked>
                        <label for="perroRegistro" class="tipo">Perro</label>
                    </div>
                    <div class="col-6 form-check form-check-inline">
                        <input type="radio" name="_tipo" id="gatoRegistro" value="Gato">
                        <label for="gatoRegistro" class="tipo">Gato</label>
                    </div>
                </div>
                <!-- RAZA -->
                <select class="form-control mb-3" id="razaAnimalRegistro" name="_raza" required>
                    <!-- Perros -->
                    <option value="" disabled selected>Seleccione raza</option>
                    <option value="Perro Mestizo" class="Perro">Perro mestizo</option>
                    <option value="Chihuahua" class="Perro">Chihuahua</option>
                    <option value="Schnauzer" class="Perro">Schnauzer</option>
                    <option value="Golden Retriever" class="Perro">Golden Retriever</option>
                    <option value="Pug" class="Perro">Pug</option>
                    <option value="Yorkshire Terriers" class="Perro">Yorkshire Terriers</option>
                    <option value="Border Collie" class="Perro">Border Collie</option>
                    <option value="Labrador" class="Perro">Labrador</option>
                    <option value="Bulldog" class="Perro">Bulldog</option>
                    <option value="Pitbull" class="Perro">Pitbull</option>
                    <option value="Pomerania" class="Perro">Pomerania</option>
                    <option value="Pastor Aleman" class="Perro">Pastor Alemán</option>
                    <option value="Husky" class="Perro">Husky</option>
                    <option value="Pastor Belga" class="Perro">Pastor Belga</option>
                    <option value="Doberman" class="Perro">Dóberman</option>
                    <option value="Beagle" class="Perro">Beagle</option>
                    <option value="Pastor Australiano" class="Perro">Pastor Australiano</option>
                    <option value="Dogo Argentino" class="Perro">Dogo Argentino</option>
                    <option value="GranDanes" class="Perro">Gran Danés</option>
                    <option value="Rottweiler" class="Perro">Rottweiler</option>
                    <!-- Gatos -->
                    <option value="Mestizo" class="Gato">Gato Mestizo</option>
                    <option value="Americano" class="Gato">Gato Americano </option>
                    <option value="Europeo" class="Gato">Gato Europeo</option>
                    <option value="Bombay" class="Gato">Gato Bombay</option>
                    <option value="Azul Ruso" class="Gato">Gato Azul ruso</option>
                    <option value="Persa" class="Gato">Gato Persa</option>
                    <option value="Siamés" class="Gato">Gato Siamés</option>
                    <option value="Angora Turco" class="Gato">Gato Angora turco</option>
                    <option value="Siberiano" class="Gato">Gato Siberiano</option>
                    <option value="Mau Egipcio" class="Gato">Gato mau egipcio</option>
                    <option value="Snowshoe" class="Gato">Gato snowshoe</option>
                    <!--Otras -->
                    <option value="Otra">Otra</option>
                </select>
                <!-- SEXO -->
                <select class="form-control mb-3" id="sexoAnimalRegistro" name="_sexo" required>
                    <option value="" disabled selected>Seleccione sexo del animal</option>
                    <option value="Macho">Macho</option>
                    <option value="Hembra">Hembra</option>
                </select>
                <!-- CARACTER -->
                <textarea id="caracterAnimalRegistro" placeholder="Describe el caracter del animal"
                    name="_caracter" rows="2" cols="50" class="form-control mb-3"></textarea>
                <!-- EDAD -->
                <div class="input-group col-12 pl-0 pr-0">
                    <div class="col-8 pl-0 pr-0">
                        <input type="number" id="edadAnimalRegistro" name="_edadValor" class="form-control mb-3" min="0"
                            placeholder="Edad del animal">
                    </div>
                    <div class="col-4 pl-1 pr-0">
                        <select class="form-control mb-3" id="unidadEdadAnimalRegistro" name="_edadUnidad">
                            <option value="" disabled selected>Años o Meses</option>
                            <option value="años">Años</option>
                            <option value="meses">Meses</option>
                        </select>
                    </div>
                </div>
                <!-- UBICACION -->
                <div class="row col-12 pl-0 pr-0 mb-3">
                    <div class="col-4 pl-0 pr-0">
                        <input type="text" class="form-control mt-1" id="pais" name="Pais" value="Mexico"
                            placeholder="País: México" disabled>
                    </div>
                    <div class="col-4 pl-1 pr-0">
                        <input type="text" class="form-control mt-1" id="estado" name="Estado" value="Jalisco"
                            placeholder="Estado: Jalisco" disabled>
                    </div>
                    <div class="col-4 pl-1 pr-0">
                        <select class="form-control mt-1" id="ciudad" name="_ubicacion" required>
                            <option value="" disabled selected>Ciudad</option>
                            <option value="Guadalajara">Guadalajara</option>
                            <option value="Zapopan">Zapopan</option>
                            <option value="Tonala">Tonála</option>
                            <option value="Tlaquepaque">Tlaquepaque</option>
                            <option value="Tlajomulco">Tlajomulco</option>
                        </select>
                    </div>
                </div>
                <!-- PELAJE -->
                <div class="row col-12 pl-0 pr-0 mb-3">
                    <div class="col-4 pl-0 pr-0">
                        <select class="form-control" id="tipoPelajeRegistro" name="_pelajeTipo" required>
                            <option value="" disabled selected>Seleccione tipo de pelaje</option>
                            <option value="Lacio">Lacio</option>
                            <option value="Rizado">Rizado</option>
                            <option value="Otro">Otro</option>
                            <!-- agregar más opciones según sea necesario -->
                        </select>
                    </div>
                    <div class="col-4 pl-1 pr-0">
                        <select class="form-control" id="colorPelajeRegistro" name="_pelajeColor" required>
                            <option value="" disabled selected>Seleccione color de pelaje</option>
                            <option value="Negro">Negro</option>
                            <option value="Cafe oscuro">Café oscuro</option>
                            <option value="Cafe claro">Café claro</option>
                            <option value="Amarillo">Amarillo</option>
                            <option value="Gris">Gris</option>
                            <option value="Blanco">Blanco</option>
                            <option value="Otro">Otro</option>
                            <!-- agregar más opciones según sea necesario -->
                        </select>
                    </div>
                    <div class="col-4 pl-1 pr-0">
                        <select class="form-control" id="largoPelajeRegistro" name="_pelajeLargo" required>
                            <option value="" disabled selected>Seleccione largo de pelaje</option>
                            <option value="Largo">Largo</option>
                            <option value="Mediano">Mediano</option>
                            <option value="Corto">Corto</option>
                            <option value="Otro">Otro</option>
                        </select>
                    </div>
                </div>
                <!-- ESTIRILIZACION -->
                <select class="form-control mb-3" id="estirilizacionRegistro" name="_estirilizado" required>
                    <option value="" disabled selected>¿El animal está esterilizado?</option>
                    <option value="si">Sí</option>
                    <option value="no">No</option>
                </select>
                <!-- FECHA DESPARACITACION -->
                <label for="fechaDesparacitacionRegistro" style="color: #888888;">Última fecha de
                    desparacitación</label>
                <input type="date" name="_fechaDesparasitacion" id="fechaDesparacitacionRegistro"
                    class="form-control mb-3" value="Fecha desparacitacion">
                <!-- VACUNAS -->
                <div class="dropdown col-12 form-control mb-3 p-0" id="vacunasRegistro">
                    <button class="btn dropdown-toggle col-12 text-left" type="button" id="dropdownMenuButtonVacunas"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Seleccionar vacunas
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonVacunas">
                            <!-- ambos -->
                            <div class="dropdown-item">
                                <input type="checkbox" id="rabia" name="_vacunas" value="Rabia">
                                <label for="rabia">Rabia</label>
                            </div>
                            <!-- vacunas para perros -->
                            <div class="dropdown-item">
                                <input type="checkbox" id="primeraVacuna" name="_vacunas" value="Primera Vacuna"
                                    class="Perro">
                                <label for="primeraVacuna">Primera vacuna</label>
                            </div>
                            <div class="dropdown-item">
                                <input type="checkbox" id="tos" name="_vacunas" value="Tos" class="Perro">
                                <label for="tos">Tos de las perreras</label>
                            </div>
                            <div class="dropdown-item">
                                <input type="checkbox" id="mosquillo" name="_vacunas" value="Mosquillo" class="Perro">
                                <label for="mosquillo">Moquillo canino</label>
                            </div>
                            <div class="dropdown-item">
                                <input type="checkbox" id="coronavirus" name="_vacunas" value="Coronavirus"
                                    class="Perro">
                                <label for="coronavirus">Coronavirus canino</label>
                            </div>
                            <div class="dropdown-item">
                                <input type="checkbox" id="parvovirus" name="_vacunas" value="Parvovirus" class="Perro">
                                <label for="parvovirus">Parvovirus</label>
                            </div>
                            <!-- vacunas para perros -->
                            <!-- vacunas para gatos -->
                            <div class="dropdown-item">
                                <input type="checkbox" id="Panleucopenia" name="_vacunas" value="Panleucopenia"
                                    class="Gato">
                                <label for="Panleucopenia">Panleucopenia Felina</label>
                            </div>
                            <div class="dropdown-item">
                                <input type="checkbox" id="herpesvirus" name="_vacunas" value="Herpesvirus" class="Gato">
                                <label for="herpesvirus">Herpesvirus</label>
                            </div>
                            <div class="dropdown-item">
                                <input type="checkbox" id="calicivirus" name="_vacunas" value="Calicivirus" class="Gato">
                                <label for="calicivirus">Calicivirus</label>
                            </div>
                            <div class="dropdown-item">
                                <input type="checkbox" id="leucemia" name="_vacunas" value="Leucemia" class="Gato">
                                <label for="leucemia">Leucemia viral felina</label>
                            </div>
                            <!-- vacunas para gatos -->
                            <div class="dropdown-item">
                                <input type="checkbox" id="otras" name="_vacunas" value="Otras">
                                <label for="otras">Otras</label>
                            </div>
                            <div class="dropdown-item">
                                <input type="checkbox" id="ningunaVacunas" name="_vacunas" value="no">
                                <label for="ningunaVacunas">Ninguna</label>
                            </div>
                    </div>
                </div>
                <!-- PARASITOS -->
                <div class="dropdown col-12 form-control mb-3 p-0" id="parasitosRegistro">
                    <button class="btn dropdown-toggle col-12 text-left" type="button" id="dropdownMenuButtonParasitos"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Seleccionar parásitos
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonParasitos">
                            <!-- ambos -->
                            <div class="dropdown-item">
                                <input type="checkbox" id="garrapatas" name="_parasitos" value="Garrapatas">
                                <label for="garrapatas">Garrapatas</label>
                            </div>
                            <div class="dropdown-item">
                                <input type="checkbox" id="pulgas" name="_parasitos" value="Pulgas">
                                <label for="pulgas">Pulgas</label>
                            </div>
                            <div class="dropdown-item">
                                <input type="checkbox" id="piojos" name="_parasitos" value="Piojos">
                                <label for="piojos">Piojos</label>
                            </div>
                            <div class="dropdown-item">
                                <input type="checkbox" id="gusanos" name="_parasitos" value="Gusanos">
                                <label for="gusanos">Gusanos</label>
                            </div>
                            <div class="dropdown-item">
                                <input type="checkbox" id="otrosParasitos" name="_parasitos" value="Otros">
                                <label for="otrosParasitos">Otros</label>
                            </div>
                            <div class="dropdown-item">
                                <input type="checkbox" id="ningunaParasitos" name="_parasitos" value="no">
                                <label for="ningunaParasitos">Ninguna</label>
                            </div>

                    </div>
                </div>

                <!-- ENFERMEDADES -->
                <textarea id="enfermedadesAnimalRegistro"
                    placeholder="Describe las enfermedades del animal (dejar en blanco si no tiene)"
                    name="_enfermedades" rows="2" cols="50" class="form-control mb-3"></textarea>
                <!-- DISCAPACIDADES -->
                <textarea id="dispacacidadesAnimalRegistro"
                    placeholder="Describe las discapacidades del animal (dejar en blanco si no tiene)"
                    name="_discapacidades" rows="2" cols="50" class="form-control mb-3"></textarea>
                <!-- BOTON DE REGISTRAR (se sube al perfil y a la pagina de adoptar) -->
                <button type="submit" class="btn btn-success col-5">Registrar</button>
            </div>
        </form>
    </div>

    <!-- MODAL LOG IN -->
    <!-- MODAL LOG IN -->
    <div class="modal fade" id="logIn" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">

    </div>

    <!-- MODAL REGISTRO -->
    <div class="modal fade" id="registro" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">

    </div>


    <!-- Optional JavaScript -->

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>

        // mostrar solo razas de gatos o razas de perros
        let perroRadio = document.getElementById("perroRegistro");
        let gatoRadio = document.getElementById("gatoRegistro");
        let razaAnimalSelect = document.getElementById("razaAnimalRegistro"); 
        let opcionesGato = razaAnimalSelect.querySelectorAll(".Gato");
        let opcionesPerro = razaAnimalSelect.querySelectorAll(".Perro");
        
        
        document.addEventListener("DOMContentLoaded", function() {
            if (perroRadio.checked) {
                opcionesGato.forEach(function (opcion) {
                    opcion.style.display = "none";
                });
                opcionesPerro.forEach(function (opcion) {
                    opcion.style.display = "block";
                });
            }
        });
      
        perroRadio.addEventListener('change', function () {
            if (perroRadio.checked) {
                opcionesGato.forEach(function (opcion) {
                    opcion.style.display = "none";
                });
                opcionesPerro.forEach(function (opcion) {
                    opcion.style.display = "block";
                });
            }
        });
        gatoRadio.addEventListener('change', function () {
            if (gatoRadio.checked) {
                opcionesPerro.forEach(function (opcion) {
                    opcion.style.display = "none";
                });
                opcionesGato.forEach(function (opcion) {
                    opcion.style.display = "block";
                });
            }
        });
    </script>
    
    <script src="utils/darAdopcion_utils.js" ></script>
    <script src="utils/utils.js"></script>

</body>

</html>