<!doctype html>
<html lang="en">

<head>
  <title>Perfil</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Caslon+Text&display=swap" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="css/navbar.css">

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Caladea&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text&display=swap');

    body {
      font-family: 'Libre Caslon Text', serif;
      background-color: white;
      /* Fondo amarillo claro */
      background-size: cover;
      margin: 0;
      padding: 0;
    }

    /* usersImgPerfil: solo para la pagina perfilPersonal */
    .userImgPerfil {
      width: 50px;
      /* Ancho de la imagen de usuario */
      height: 50px;
      /* Altura de la imagen de usuario */
      border-radius: 50%;
      /* Hace que la imagen sea un círculo */
      background: #ccc;
      /* Color de fondo en caso de que la imagen no se cargue */
      /* Aquí puedes poner la URL de la imagen de usuario */
      background-image: url('https://cdn-images.livecareer.es/pages/foto_cv_lc_es_7.jpg');
      background-size: cover;
      /* Asegura que la imagen cubra todo el círculo */
      background-position: center;
      /* Centra la imagen en el círculo */
      margin-left: 20px;
      /* Aumenta el margen a la izquierda para mover la imagen hacia la izquierda */
      margin-right: 20px;
    }

    /* -------------------DE PAGINA PERFIL PERSONAL--------------- */
    .imgInfoAnimal {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border-color: #000000;
    }

    #infoAnimalPerfil .modal-content {
      font-weight: 500;
      background-color: beige;
    }


    .media {
      background: #fff;
      top: 100px;
    }

    .userImgPerfil {
      width: 150px;
      height: 150px;
      margin-left: 80px;
    }

    #fotoNombre {
      left: auto;
      right: auto;
    }

    .card {
      background-color: #eeeeee;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 10px;
      margin-right: 10px;
    }

    .containerCard {
      margin-right: 8px;
      margin-left: 8px;
      margin-bottom: 10px;
      width: 300px;
    }

    .card-img {
      height: 200px;
      width: 250px;
      margin-top: 10px;
      border-radius: 5px;
      margin-left: 13px;
      margin-right: 23px;
    }

    .card-body {
      padding-left: 20px !important;
      padding-right: 25px !important;
    }

    .imgInfoAnimal {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border-color: #000000;
    }


    input[type="radio"].perfilesBtn,
    input[type="radio"].publicacionesBtn {
      display: none;
    }

    input[type="radio"].perfilesBtn+label,
    input[type="radio"].publicacionesBtn+label {
      color: #ababab;
      border-bottom: solid #ababab;
      text-align: center;
    }

    .nombreUsuario,
    .botonesPerfil {
      margin-top: 80px;
      /* margin-right: 10px; */
    }

    .botonesPerfil {
      margin-top: 70px;
      left: auto;
      right: auto;
      margin-right: 90px;
    }

    .card-imgPublicacion {
      border-radius: 5px;
      width: 90%;
      height: 90%;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 13px;
      margin-right: 23px;
    }

    #publicacionesPersonal {
      left: auto;
      right: auto;
    }

    .publicaciones {
      margin-left: 10%;
      width: 97%;
      height: 97%;
      display: flex;

    }

    .btnEliminar {
      margin-left: 15%;
      margin-right: 10%;
    }

    #publicacionesBtn:checked+label {
      border-bottom: solid black;
      color: black;
    }

    #perfilesBtn:checked+label {
      border-bottom: solid black;
      color: black;
    }

    #imagePreview {
      width: 100%;
      padding: 150px;
      background-color: #ccc;
    }

    #imagePreview>img {
      width: 100%;
      height: 300px;
    }

    .modal {
      color: black;
    }

    .modal-header {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    /* --------------------------------- */
  </style>
</head>

<body>
  <!-- NAV BAR -->
  <nav class="navbar navbar-expand-md" id="navBar">
  </nav>

  <!-- fOTO DE PERFIL Y NOMBRE DE USUARIO -->
  <div class="media row col-12 mt-4 mb-2 justify-content-between" id="fotoNombre">
    <div class="imgP media-left row col-12 col-sm-12 col-xl-6 col-lg-5 col-md-12 mb-0">
      <div class="userImgPerfil col-4 "></div>
      <div class="nombreUsuario col-5 col-lg-3 col-xl-5">
        <h4>Nombre Apellido</h4>
      </div>
    </div>
    <!-- <div class="espacio col-xl-2 col-lg-1 col-md-1 mb-0"></div> -->
    <div
      class="media-right botonesPerfil col-12 col-sm-6 col-xl-4 col-lg-5 col-md-12 col-sm-12 justify-content-end d-flex align-items-center">
      <!-- BOTON DAR EN ADOPCION (LINK A PAGINA darAdopcion) Y AGREGAR PUBLICACION(LINK A MODAL agregarPublicacion)-->
      <a href="/darAdopcion" class="btn btn-primary mr-4 p-3 mb-2 col-4 col-xl-5 col-lg-6 col-md-5 col-sm-5">Agregar
        Perfil</a>
      <a href="#" class="btn btn-primary p-3 mb-2 col-6 col-xl-7 col-lg-7 col-md-5 col-sm-6" data-toggle="modal"
        data-target="#agregarPublicacion" id="btnAgregarPublicacion">Agregar
        Publicación</a>
    </div>
  </div>

  <!-- LINEA A LINK (APARECEN PERFILES O APARECEN PUBLICACIONES) -->
  <div class="media col-12 row justify-content-center" id="lineasBoton">
    <input type="radio" id="perfilesBtn" class="perfilesBtn col-5" name="btn-group" checked>
    <label for="perfilesBtn" class="col-5">Perfiles</label>
    <input type="radio" id="publicacionesBtn" class="publicacionesBtn col-5" name="btn-group">
    <label for="publicacionesBtn" class="col-5">Publicaciones</label>
  </div>

  <!-- APARECEN PERFILES DE ANIMALES (como en pagina adoptar) -->
  <!-- Al dar click en un perfil link a modal de infoPerfilAnimal -->
  <div class="media col-12 justify-content-center" id="perfilesAnimales">
    <div class="row row-cols-4 justify-content-center mr-4">
      <div class="containerCard col-lg-3 col-xl-3 col-md-4 col-sm-6 col-5">
        <a class="card dropdown-item" href="#" data-toggle="modal" data-target="#infoAnimalPerfil">
          <img
            src="https://www.okchicas.com/wp-content/uploads/2015/11/Adorables-cachorros-que-no-parecen-reales-12.jpg"
            class="card-img" alt="...">
          <div class="card-body">
            <h5 class="card-title">Animal 3</h5>
            <p class="card-text">Raza: udhffhewrku</p>
            <p class="card-text">Edad: 5 meses</p>
            <p class="card-text">Sexo: Macho</p>
            <p class="card-text">Ubicación: Guadalajara, Mexico</p>
          </div>
        </a>
      </div>
      <div class="containerCard col-lg-3 col-xl-3 col-md-4 col-sm-6 col-5">
        <a class="card dropdown-item" href="#" data-toggle="modal" data-target="#infoAnimalPerfil">
          <img
            src="https://www.okchicas.com/wp-content/uploads/2015/11/Adorables-cachorros-que-no-parecen-reales-12.jpg"
            class="card-img" alt="...">
          <div class="card-body">
            <h5 class="card-title">Animal 3</h5>
            <p class="card-text">Raza: udhffhewrku</p>
            <p class="card-text">Edad: 5 meses</p>
            <p class="card-text">Sexo: Macho</p>
            <p class="card-text">Ubicación: Guadalajara, Mexico</p>
          </div>
        </a>
      </div>
      <div class="containerCard col-lg-3 col-xl-3 col-md-4 col-sm-6 col-5">
        <a class="card dropdown-item" href="#" data-toggle="modal" data-target="#infoAnimalPerfil">
          <img
            src="https://www.okchicas.com/wp-content/uploads/2015/11/Adorables-cachorros-que-no-parecen-reales-12.jpg"
            class="card-img" alt="...">
          <div class="card-body">
            <h5 class="card-title">Animal 3</h5>
            <p class="card-text">Raza: udhffhewrku</p>
            <p class="card-text">Edad: 5 meses</p>
            <p class="card-text">Sexo: Macho</p>
            <p class="card-text">Ubicación: Guadalajara, Mexico</p>
          </div>
        </a>
      </div>
      <div class="containerCard col-lg-3 col-xl-3 col-md-4 col-sm-6 col-5">
        <a class="card dropdown-item" href="#" data-toggle="modal" data-target="#infoAnimalPerfil">
          <img
            src="https://www.okchicas.com/wp-content/uploads/2015/11/Adorables-cachorros-que-no-parecen-reales-12.jpg"
            class="card-img" alt="...">
          <div class="card-body">
            <h5 class="card-title">Animal 3</h5>
            <p class="card-text">Raza: udhffhewrku</p>
            <p class="card-text">Edad: 5 meses</p>
            <p class="card-text">Sexo: Macho</p>
            <p class="card-text">Ubicación: Guadalajara, Mexico</p>
          </div>
        </a>
      </div>
      <div class="containerCard col-lg-3 col-xl-3 col-md-4 col-sm-6 col-5">
        <a class="card dropdown-item" href="#" data-toggle="modal" data-target="#infoAnimalPerfil">
          <img
            src="https://www.okchicas.com/wp-content/uploads/2015/11/Adorables-cachorros-que-no-parecen-reales-12.jpg"
            class="card-img" alt="...">
          <div class="card-body">
            <h5 class="card-title">Animal 3</h5>
            <p class="card-text">Raza: udhffhewrku</p>
            <p class="card-text">Edad: 5 meses</p>
            <p class="card-text">Sexo: Macho</p>
            <p class="card-text">Ubicación: Guadalajara, Mexico</p>
          </div>
        </a>
      </div>
      <div class="containerCard col-lg-3 col-xl-3 col-md-4 col-sm-6 col-5">
        <a class="card dropdown-item" href="#" data-toggle="modal" data-target="#infoAnimalPerfil">
          <img
            src="https://www.okchicas.com/wp-content/uploads/2015/11/Adorables-cachorros-que-no-parecen-reales-12.jpg"
            class="card-img" alt="...">
          <div class="card-body">
            <h5 class="card-title">Animal 3</h5>
            <p class="card-text">Raza: udhffhewrku</p>
            <p class="card-text">Edad: 5 meses</p>
            <p class="card-text">Sexo: Macho</p>
            <p class="card-text">Ubicación: Guadalajara, Mexico</p>
          </div>
        </a>
      </div>
      <div class="containerCard col-lg-3 col-xl-3 col-md-4 col-sm-6 col-5">
        <a class="card dropdown-item" href="#" data-toggle="modal" data-target="#infoAnimalPerfil">
          <img
            src="https://www.okchicas.com/wp-content/uploads/2015/11/Adorables-cachorros-que-no-parecen-reales-12.jpg"
            class="card-img" alt="...">
          <div class="card-body">
            <h5 class="card-title">Animal 3</h5>
            <p class="card-text">Raza: udhffhewrku</p>
            <p class="card-text">Edad: 5 meses</p>
            <p class="card-text">Sexo: Macho</p>
            <p class="card-text">Ubicación: Guadalajara, Mexico</p>
          </div>
        </a>
      </div>
      <div class="containerCard col-lg-3 col-xl-3 col-md-4 col-sm-6 col-5">
        <a class="card dropdown-item" href="#" data-toggle="modal" data-target="#infoAnimalPerfil">
          <img
            src="https://www.okchicas.com/wp-content/uploads/2015/11/Adorables-cachorros-que-no-parecen-reales-12.jpg"
            class="card-img" alt="...">
          <div class="card-body">
            <h5 class="card-title">Animal 3</h5>
            <p class="card-text">Raza: udhffhewrku</p>
            <p class="card-text">Edad: 5 meses</p>
            <p class="card-text">Sexo: Macho</p>
            <p class="card-text">Ubicación: Guadalajara, Mexico</p>
          </div>
        </a>
      </div>
    </div>
  </div>

  <!-- APARECEN PUBLICACIONES (con boton de eliminar)-->
  <div class="media col-10 justify-content-center" id="publicacionesPersonal" style="display: none;">
    <div class="row row-cols-1">
      <div class="publicaciones card dropdown-item">
        <div class="row">
          <div class="col-4">
            <img
              src="https://www.okchicas.com/wp-content/uploads/2015/11/Adorables-cachorros-que-no-parecen-reales-12.jpg"
              class="card-imgPublicacion" alt="...">
          </div>
          <div class="card-body-publicaciones col-5  mt-3 mb-3 mr-0">
            <h5 class="card-title mb-3">Titulo publicacion</h5>
            <p class="card-text">Descripcion de la publicacion:<br>
              fsdfsdfsdfdfgsd<br>
              fdsfsdfdf
            </p>
          </div>
          <div class="btnEliminar col-1 mt-3 mb-3 mr-0">
            <button type="submit" class="btn btn-danger float-right"><i class="fa fa-trash"></i></button>
          </div>
        </div>
      </div>
      <div class="publicaciones card dropdown-item">
        <div class="row">
          <div class="col-4">
            <img
              src="https://www.okchicas.com/wp-content/uploads/2015/11/Adorables-cachorros-que-no-parecen-reales-12.jpg"
              class="card-imgPublicacion" alt="...">
          </div>
          <div class="card-body-publicaciones col-5 mt-3 mb-3 mr-0">
            <h5 class="card-title mb-3">Titulo publicacion</h5>
            <p class="card-text">Descripcion de la publicacion:<br>
              fsdfsdfsdfdfgsd<br>
              fdsfsdfdf
            </p>
          </div>
          <div class="btnEliminar col-1 mt-3 mb-3 mr-0">
            <button type="submit" class="btn btn-danger float-right"><i class="fa fa-trash"></i></button>
          </div>
        </div>
      </div>
      <div class="publicaciones card dropdown-item">
        <div class="row">
          <div class="col-4">
            <img
              src="https://www.okchicas.com/wp-content/uploads/2015/11/Adorables-cachorros-que-no-parecen-reales-12.jpg"
              class="card-imgPublicacion" alt="...">
          </div>
          <div class="card-body-publicaciones col-5 mt-3 mb-3 mr-0">
            <h5 class="card-title mb-3">Titulo publicacion</h5>
            <p class="card-text">Descripcion de la publicacion:<br>
              fsdfsdfsdfdfgsd<br>
              fdsfsdfdf
            </p>
          </div>
          <div class="btnEliminar col-1 mt-3 mb-3 mr-0">
            <button type="submit" class="btn btn-danger float-right"><i class="fa fa-trash"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- MODAL agregarPublicacion -->
  <div class="modal fade" id="agregarPublicacion" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body justify-content-start">
          <input type="text" id="fileInput" placeholder="Ingresar url de imagen para publicación" required>
          <div id="imagePreview" class="mb-1"></div>
          <label for="descripcionPublicacionModal">Agregar descripción:</label>
          <textarea name="descripcionPublicacionModal" id="descripcionPublicacionModal" cols="45" rows="6"
            required></textarea>
        </div>
        <div class="modal-footer justify-content-center">
          <!-- este boton agrega nueva publicacion al perfil y a la pagina de publicaciones -->
          <button type="submit" class="btn btn-primary" data-dismiss="modal">Publicar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- MODAL infoPerfilAnimal -->
  <!-- Muestra tarjeta sin espacion de editar habilitado: Raza, sexo, edad, pelaje, vacunas, parasitos,
        caracter, estirilizacion, discapacidad, ubicacion, feche desparacitacion, adoptado:si/no  -->
  <!-- botontes de editar (link a modal editarPerfilAnimal) el mismo de la pagina darAdopcion (agregar estado de apotado y se precarga la infromacion anterior) -->
  <!-- boton de eliminar -->
  <div class="modal fade" id="infoAnimalPerfil" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="headerContent">
            <img class="imgInfoAnimal mb-2"
              src="https://www.okchicas.com/wp-content/uploads/2015/11/Adorables-cachorros-que-no-parecen-reales-12.jpg"
              alt="...">
            <h5 class="modal-title">Nombre</h5>
          </div>
        </div>
        <div class="modal-body p-5">
          <p><b>Raza:</b> asjdlak</p>
          <p><b>Sexo:</b> Macho</p>
          <p><b>Edad:</b> xx</p>
          <p><b>Pelaje:</b> Café, Chino, Corto</p>
          <p><b>Vacunas:</b> jdsajk, dajdjas, hdakshdk</p>
          <p><b>Parásitos:</b> dasdas, dasd, dasdasd</p>
          <p><b>Caracter:</b> fsdfsdfsdfs</p>
          <p><b>Esterilización:</b> Sí</p>
          <p><b>Ubicación:</b> Guadalajara, Jalisco, México</p>
          <p><b>Discapacidades:</b> asjdlak</p>
          <p><b>Fecha de desparacitación:</b> dd/mm/aaaa</p>
          <p><b>Adoptado:</b> No</p>
        </div>
        <div class="modal-footer">
          <!-- Editar: se abre modal de editarPerfilAnimal -->
          <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#editarPerfilAnimal"
            data-dismiss="modal">Editar</a>
          <!-- Elimiar -->
          <a href="#" class="btn btn-danger">Eliminar</a>
        </div>
      </div>
    </div>
  </div>


  <!-- MODAL LOGIN -->
  <div class="modal fade" id="logIn" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  
  </div>

  <!-- MODAL REGISTRO -->
  <div class="modal fade" id="registro" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    
  </div>


  <!-- MODAL editarPerfilAnimal -->
  <div class="modal fade" id="editarPerfilAnimal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title">Editar peludito</h5>
        </div>
        <form action="" method="post" enctype="multipart/form-data" class="justify-content-center">
          <div class="modal-body">
            <div class=" row justify-content-center col-12 pb-4 ml-1 mr-1">
              <!-- IMAGEN -->
              <input type="text" id="fileImgAnimal" placeholder="Ingresar url de foto del peludito" class="form-control" required>
              <!-- NOMBRE -->
              <input type="text" name="nombre animal" id="nombreAnimalRegistro" class="form-control mt-3 mb-3"
                placeholder="Nombre del peludito" required>
              <!-- TIPO -->
              <div class="input-group mb-3 col-12">
                <div class="col-6 form-check form-check-inline">
                  <input type="radio" name="tipoAnimal" id="perroRegistro" value="perro" checked>
                  <label for="perroRegistro">Perro</label>
                </div>
                <div class="col-6 form-check form-check-inline">
                  <input type="radio" name="tipoAnimal" id="gatoRegistro" value="gato">
                  <label for="gatoRegistro">Gato</label>
                </div>
              </div>
              <!-- RAZA -->
              <select class="form-control mb-3" id="razaAnimalRegistro" name="Raza del animal">
                <!-- Perros -->
                <option value="" disabled selected>Seleccione raza</option>
                <option value="PerroMestizo" class="Perro">Perro mestizo</option>
                <option value="Chihuahua" class="Perro">Chihuahua</option>
                <option value="Schnauzer" class="Perro">Schnauzer</option>
                <option value="GoldenRetriever" class="Perro">Golden Retriever</option>
                <option value="Pug" class="Perro">Pug</option>
                <option value="YorkshireTerriers" class="Perro">Yorkshire Terriers</option>
                <option value="BorderCollie" class="Perro">Border Collie</option>
                <option value="Labrador" class="Perro">Labrador</option>
                <option value="Bulldog" class="Perro">Bulldog</option>
                <option value="Pitbull" class="Perro">Pitbull</option>
                <option value="Pomerania" class="Perro">Pomerania</option>
                <option value="PastorAleman" class="Perro">Pastor Alemán</option>
                <option value="Husky" class="Perro">Husky</option>
                <option value="PastorBelga" class="Perro">Pastor Belga</option>
                <option value="Doberman" class="Perro">Dóberman</option>
                <option value="Beagle" class="Perro">Beagle</option>
                <option value="PastorAustraliano" class="Perro">Pastor Australiano</option>
                <option value="DogoArgentino" class="Perro">Dogo Argentino</option>
                <option value="GranDanes" class="Perro">Gran Danés</option>
                <option value="Rottweiler" class="Perro">Rottweiler</option>
                <!-- Gatos -->
                <option value="Mestizo" class="Gato">Gato Mestizo</option>
                <option value="Americano" class="Gato">Gato Americano </option>
                <option value="Europeo" class="Gato">Gato Europeo</option>
                <option value="Bombay" class="Gato">Gato Bombay</option>
                <option value="AzulRuso" class="Gato">Gato Azul ruso</option>
                <option value="Persa" class="Gato">Gato Persa</option>
                <option value="Siames" class="Gato">Gato Siamés</option>
                <option value="AngoraTurco" class="Gato">Gato Angora turco</option>
                <option value="Siberiano" class="Gato">Gato Siberiano</option>
                <option value="MauEgipcio" class="Gato">Gato mau egipcio</option>
                <option value="Snowshoe" class="Gato">Gato snowshoe</option>
                <!-- agregar más -->
                <option value="OtraRaza">Otra</option>
              </select>
              <!-- SEXO -->
              <select class="form-control mb-3" id="sexoAnimalRegistro" name="Sexo del animal" required>
                <option value="" disabled selected>Seleccione sexo del animal</option>
                <option value="Macho">Macho</option>
                <option value="Hembra">Hembra</option>
              </select>
              <!-- CARACTER -->
              <textarea id="caracterAnimalRegistro" placeholder="Describe el caracter del animal" name="caracter animal"
                rows="2" cols="50" class="form-control mb-3"></textarea>
              <!-- EDAD -->
              <div class="input-group col-12 pl-0 pr-0">
                <div class="col-8 pl-0 pr-0">
                  <input type="number" id="edadAnimalRegistro" class="form-control mb-3" min="0"
                    placeholder="Edad del animal">
                </div>
                <div class="col-4 pl-1 pr-0">
                  <select class="form-control mb-3" id="mesesAños" name="añosMeses">
                    <option value="" disabled selected>Años o Meses</option>
                    <option value="años">Años</option>
                    <option value="meses">Meses</option>
                  </select>
                </div>
              </div>
              <!-- UBICACION -->
              <div class="row col-12 pl-0 pr-0 mb-3 ml-0 mr-0">
                <div class="col-4 pl-0 pr-0">
                  <input type="text" class="form-control mt-1" id="pais" name="Pais" value="Mexico"
                    placeholder="País: México" disabled>
                </div>
                <div class="col-4 pl-1 pr-0">
                  <input type="text" class="form-control mt-1" id="estado" name="Estado" value="Jalisco"
                    placeholder="Estado: Jalisco" disabled>
                </div>
                <div class="col-4 pl-1 pr-0">
                  <select class="form-control mt-1" id="ciudad" name="Ciudad" required>
                    <option value="" disabled selected>Ciudad</option>
                    <option value="Guadalajara">Guadalajara</option>
                    <option value="Zapopan">Zapopan</option>
                    <option value="Tonala">Tonála</option>
                    <option value="Tlaquepaque">Tlaquepaque</option>
                    <option value="Tlajomulco">Tlajomulco</option>
                  </select>
                </div>
              </div>
              <!-- PELAJE -->
              <div class="row col-12 pl-0 pr-0 mb-3 ml-0 mr-0">
                <div class="col-4 pl-0 pr-0">
                  <select class="form-control" id="tipoPelajeRegistro" name="tipo_pelaje" required>
                    <option value="" disabled selected>Seleccione tipo de pelaje</option>
                    <option value="Lacio">Lacio</option>
                    <option value="Rizado">Rizado</option>
                    <option value="otro">Otro</option>
                    <!-- agregar más opciones según sea necesario -->
                  </select>
                </div>
                <div class="col-4 pl-1 pr-0">
                  <select class="form-control" id="colorPelajeRegistro" name="color_pelaje" required>
                    <option value="" disabled selected>Seleccione color de pelaje</option>
                    <option value="Negro">Negro</option>
                    <option value="Cafe oscuro">Café oscuro</option>
                    <option value="Cafe claro">Café claro</option>
                    <option value="Blanco">Blanco</option>
                    <option value="otro">Otro</option>
                    <!-- agregar más opciones según sea necesario -->
                  </select>
                </div>
                <div class="col-4 pl-1 pr-0">
                  <select class="form-control" id="largoPelajeRegistro" name="largo_pelaje" required>
                    <option value="" disabled selected>Seleccione largo de pelaje</option>
                    <option value="Largo">Largo</option>
                    <option value="Mediano">Mediano</option>
                    <option value="Corto">Corto</option>
                    <option value="otro">Otro</option>
                  </select>
                </div>
              </div>
              <!-- ESTIRILIZACION -->
              <select class="form-control mb-3" id="estirilizacionRegistro" name="Estirilizado" required>
                <option value="" disabled selected>¿El animal está esterilizado?</option>
                <option value="si">Sí</option>
                <option value="no">No</option>
              </select>
              <!-- FECHA DESPARACITACION -->
              <label for="fechaDesparacitacionRegistro" style="color: #888888;">Última fecha de
                desparacitación</label>
              <input type="date" name="fechaDesparacitacion" id="fechaDesparacitacionRegistro" class="form-control mb-3"
                value="Fecha desparacitacion">
              <!-- VACUNAS -->
              <div class="dropdown col-12 form-control mb-3 p-0" id="vacunasRegistro">
                <button class="btn dropdown-toggle col-12 text-left" type="button" id="dropdownMenuButtonVacunas"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Seleccionar vacunas que tiene el animal
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <form>
                    <!-- ambos -->
                    <div class="dropdown-item">
                      <input type="checkbox" id="rabia" name="Vacunas" value="rabia">
                      <label for="rabia">Rabia</label>
                    </div>
                    <!-- vacunas para perros -->
                    <div class="dropdown-item">
                      <input type="checkbox" id="primeraVacuna" name="Vacunas" value="Primera Vacuna" class="Perro">
                      <label for="primeraVacuna">Primera vacuna</label>
                    </div>
                    <div class="dropdown-item">
                      <input type="checkbox" id="tos" name="Vacunas" value="tos" class="Perro">
                      <label for="tos">Tos de las perreras</label>
                    </div>
                    <div class="dropdown-item">
                      <input type="checkbox" id="mosquillo" name="Vacunas" value="mosquillo" class="Perro">
                      <label for="mosquillo">Moquillo canino</label>
                    </div>
                    <div class="dropdown-item">
                      <input type="checkbox" id="coronavirus" name="Vacunas" value="coronavirus" class="Perro">
                      <label for="coronavirus">Coronavirus canino</label>
                    </div>
                    <div class="dropdown-item">
                      <input type="checkbox" id="parvovirus" name="Vacunas" value="Parvovirus" class="Perro">
                      <label for="parvovirus">Parvovirus</label>
                    </div>
                    <!-- vacunas para perros -->
                    <!-- vacunas para gatos -->
                    <div class="dropdown-item">
                      <input type="checkbox" id="Panleucopenia" name="Vacunas" value="Panleucopenia" class="Gato">
                      <label for="Panleucopenia">Panleucopenia felina</label>
                    </div>
                    <div class="dropdown-item">
                      <input type="checkbox" id="herpesvirus" name="Vacunas" value="herpesvirus" class="Gato">
                      <label for="herpesvirus">Herpesvirus</label>
                    </div>
                    <div class="dropdown-item">
                      <input type="checkbox" id="calicivirus" name="Vacunas" value="calicivirus" class="Gato">
                      <label for="calicivirus">Calicivirus</label>
                    </div>
                    <div class="dropdown-item">
                      <input type="checkbox" id="leucemia" name="Vacunas" value="leucemia" class="Gato">
                      <label for="leucemia">Leucemia viral felina</label>
                    </div>
                    <!-- vacunas para gatos -->
                    <div class="dropdown-item">
                      <input type="checkbox" id="otras" name="Vacunas" value="otras">
                      <label for="otras">Otras</label>
                    </div>

                  </form>
                </div>
              </div>
              <!-- PARASITOS -->
              <div class="dropdown col-12 form-control mb-3 p-0" id="parasitosRegistro">
                <button class="btn dropdown-toggle col-12 text-left" type="button" id="dropdownMenuButtonParasitos"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Seleccionar parásitos que tiene el animal
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <form>
                    <!-- ambos -->
                    <div class="dropdown-item">
                      <input type="checkbox" id="garrapatas" name="Parasitos" value="garrapatas">
                      <label for="garrapatas">Garrapatas</label>
                    </div>
                    <div class="dropdown-item">
                      <input type="checkbox" id="pulgas" name="Parasitos" value="pulgas">
                      <label for="pulgas">Pulgas</label>
                    </div>
                    <div class="dropdown-item">
                      <input type="checkbox" id="piojos" name="Parasitos" value="piojos">
                      <label for="piojos">Piojos</label>
                    </div>
                    <div class="dropdown-item">
                      <input type="checkbox" id="gusanos" name="Parasitos" value="gusanos">
                      <label for="gusanos">Gusanos</label>
                    </div>
                    <div class="dropdown-item">
                      <input type="checkbox" id="otrosParasitos" name="Parasitos" value="otros">
                      <label for="otrosParasitos">Otros</label>
                    </div>

                  </form>
                </div>
              </div>
              <!-- ENFERMEDADES -->
              <textarea id="enfermedadesAnimalRegistro"
                placeholder="Describe las enfermedades del animal (dejar en blanco si no tiene)"
                name="enfermedades animal" rows="2" cols="50" class="form-control mb-3"></textarea>
              <!-- DISCAPACIDADES -->
              <textarea id="dispacacidadesAnimalRegistro"
                placeholder="Describe las discapacidades del animal (dejar en blanco si no tiene)"
                name="discapacidades animal" rows="2" cols="50" class="form-control mb-3"></textarea>
              <!-- Estado de adopcion -->
              <div class="form-group col-12">
                <label for="estadoAdopcion" style="color: #888888;">El peludito ha sido adoptado?</label>
                <div class="input-group col-12" id="estadoAdoptado">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Adoptado" id="siAdoptado" value="Si">
                    <label class="form-check-label" for="siAdoptado">Sí</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Adoptado" id="noAdoptado" value="No" checked>
                    <label class="form-check-label" for="noAdoptado">No</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer justify-content-center">
              <!-- BOTON DE guardar (se actualiza al perfil y a la pagina de adoptar) -->
              <button type="submit" class="btn btn-success col-5 justify-content-center">Guardar</button>
            </div>
        </form>
      </div>
    </div>
  </div>


  <!-- Optional JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>
  
    //para mostrar solo publicaciones
    let perfilesBtn = document.getElementById('perfilesBtn');
    let cardPublicaciones = document.querySelector('#publicacionesPersonal');
    let publicacionesBtn = document.getElementById('publicacionesBtn');
    let cardAnimales = document.querySelector('#perfilesAnimales');

    publicacionesBtn.addEventListener('click', function () {
      cardAnimales.style.display = 'none';
      cardPublicaciones.style.display = 'block';
    });

    perfilesBtn.addEventListener('click', function () {
      cardPublicaciones.style.display = 'none';
      cardAnimales.style.display = 'block';
    });

    //agregar imagen de publicacion
    document.getElementById('fileInput').addEventListener('change', function (event) {
        let imageUrl = event.target.value;
        let imagePreview = document.getElementById('imagePreview');
        imagePreview.innerHTML = '<img src="' + imageUrl + '" alt="Imagen seleccionada">';
        imagePreview.style.padding = '0px';
    });
    //------------------------------------------------------------------------------

    // mostrar solo razas de gatos o razas de perros
    let perroRadio = document.getElementById("perroRegistro");
    let gatoRadio = document.getElementById("gatoRegistro");
    let razaAnimalSelect = document.getElementById("razaAnimalRegistro");
    let opcionesGato = razaAnimalSelect.querySelectorAll(".Gato");
    let opcionesPerro = razaAnimalSelect.querySelectorAll(".Perro");
    perroRadio.addEventListener('change', function () {
      if (perroRadio.checked) {
        opcionesGato.forEach(function (opcion) {
          opcion.style.display = "none";
        });
        opcionesPerro.forEach(function (opcion) {
          opcion.style.display = "block";
        });
      }
    });
    gatoRadio.addEventListener('change', function () {
      if (gatoRadio.checked) {
        opcionesPerro.forEach(function (opcion) {
          opcion.style.display = "none";
        });
        opcionesGato.forEach(function (opcion) {
          opcion.style.display = "block";
        });
      }
    });
  </script>

  <script src="utils/publicaciones_utils.js"></script>
  <script src="utils/utils.js"></script>

</body>

</html>